In [1]:
import pandas as pd
from sklearn.datasets import load_digits

In [2]:
digits = load_digits()

In [3]:
dir(digits)

['DESCR', 'data', 'images', 'target', 'target_names']

In [4]:
df = pd.DataFrame(digits.data)

In [9]:
df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,targets
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1

In [7]:
df['targets'] = digits.target

In [10]:
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,targets
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.drop('targets',axis=1),df.targets,test_size=0.2)

In [18]:
x_train.head(1)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
1370,0.0,0.0,13.0,16.0,16.0,9.0,0.0,0.0,0.0,2.0,...,11.0,0.0,0.0,0.0,11.0,16.0,16.0,15.0,1.0,0.0

In [19]:
y_train.head(1)

1370    3
Name: targets, dtype: int64

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [30]:
rf = RandomForestClassifier(n_)
rf

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [23]:
model = rf.fit(x_train,y_train)

In [26]:
pred = model.predict(x_test)

In [28]:
pred

array([3, 9, 0, 4, 2, 7, 7, 6, 2, 9, 5, 5, 4, 0, 6, 7, 8, 7, 2, 2, 4, 8,
       8, 3, 6, 0, 0, 2, 9, 1, 7, 8, 3, 6, 7, 1, 5, 4, 0, 2, 7, 2, 7, 0,
       9, 7, 4, 0, 2, 9, 9, 6, 6, 7, 6, 7, 9, 1, 3, 5, 4, 9, 4, 1, 2, 4,
       3, 1, 9, 8, 9, 8, 5, 6, 7, 2, 2, 6, 9, 2, 1, 4, 2, 6, 6, 5, 2, 0,
       9, 0, 8, 4, 6, 2, 8, 0, 6, 8, 4, 5, 8, 4, 5, 1, 8, 5, 2, 6, 4, 0,
       2, 6, 9, 1, 3, 2, 8, 3, 4, 0, 8, 5, 6, 9, 6, 6, 5, 7, 7, 4, 5, 7,
       3, 3, 2, 7, 4, 9, 4, 5, 2, 9, 3, 8, 4, 0, 1, 4, 9, 8, 3, 0, 7, 1,
       0, 4, 3, 9, 9, 1, 1, 3, 2, 2, 4, 3, 2, 1, 9, 1, 5, 2, 5, 5, 5, 8,
       5, 2, 2, 9, 3, 1, 5, 1, 9, 6, 0, 1, 0, 2, 2, 9, 1, 2, 7, 2, 5, 4,
       7, 9, 7, 5, 8, 0, 9, 9, 2, 5, 9, 1, 5, 9, 7, 5, 3, 4, 9, 7, 6, 6,
       1, 3, 0, 1, 5, 8, 7, 6, 9, 4, 5, 3, 7, 9, 2, 0, 6, 5, 5, 1, 6, 4,
       7, 5, 5, 3, 9, 0, 1, 5, 6, 1, 7, 4, 9, 5, 3, 0, 2, 5, 6, 5, 3, 8,
       0, 6, 1, 1, 6, 7, 8, 8, 2, 7, 1, 0, 5, 1, 7, 7, 4, 8, 3, 6, 1, 3,
       6, 9, 0, 2, 6, 8, 2, 5, 1, 1, 5, 0, 7, 3, 7, 3, 9, 9, 6, 3, 0, 1,
       5, 9, 6, 3, 1, 5, 6, 2, 9, 4, 0, 6, 7, 9, 0, 7, 4, 4, 3, 1, 4, 5,
       6, 3, 6, 3, 2, 7, 7, 5, 7, 0, 0, 3, 6, 1, 2, 9, 7, 8, 5, 3, 0, 0,
       3, 6, 7, 9, 2, 2, 0, 8])

In [29]:
model.score(x_test,y_test)

0.9694444444444444